<div class="card">
    <div class="container2">
        <p class="data">
            <span class="label"><h4>Usuario: </h4>{{user.username}}</span> 
        </p>
        <p class="data">
            <span class="label"><h4>Conv: </h4>{{user.conversions}}</span>
        </p>
        <p class="data">
            <span class="label"><h4>email: </h4>{{user.email}}</span> 
        </p>
        <p class="data">
            <span class="label"><h4>Plan: </h4>{{user.plan===0? 'Free' : (user.plan === 1 ? 'Trial' : 'Pro')}}</span> 
        </p>
    </div>
    <div class="container2">
        <form (ngSubmit)="saveUser()" #form="ngForm">
            <input  class="dataInput"  
            [(ngModel)]="user.state" 
            #State="ngModel" 
            type="text" 
            name="State" 
            value="">{{user.state === 0 ? 'Activo' : 'Inactivo'}}
            <button type="submit" value="Guardar" class="btnSubmit" >Guardar</button>
        </form>
        <button type="button" (click)="editUserState()" class="btnDelete">Cambiar</button>
    </div>
</div>