<div id="container">
    <div class="form-container">
    <h2 class="subtitle">Registro de usuario</h2>
        <form #registerForm="ngForm" (ngSubmit)="register()">
            <div class="inputBox">
                <img class="inputIcon" src="../../../../assets/img/user.svg" alt="">
                <input class="input" type="text" name="user" id="user" [(ngModel)]="registerData.Username" #username="ngModel"
                placeholder="Usuario" autocomplete="username"
                required>
            </div>
            <div class="inputBox">
                <img class="inputIcon" src="../../../../assets/img/@.svg" alt="">
                <input class="input" type="text" name="email" id="email" [(ngModel)]="registerData.Email" #email="ngModel"
                placeholder="Email" autocomplete="email"
                required>
            </div>
            <div class="inputBox">
                <img class="inputIcon" src="../../../../assets/img/lock.svg" alt="">
                <input class="input" type="password" name="password" id="password" [(ngModel)]="registerData.Password" #password="ngModel"
                placeholder="Contraseña" autocomplete="password"
                required>
            </div>
            <button type="submit" [disabled]="registerForm.invalid" >Registrarme</button>
            <p class="registerPara">Ya tenés tu cuenta? <a class="registerLink" [routerLink]="['/login']">Iniciar sesión</a> </p>
        </form>
    </div>
    <div class="background-container">
        <img class="floatLogo" src="./../../../../assets/img/Monify_svg_white.svg" alt="">
    </div>
</div>
