@use "../../../../assets/styles/forms.scss";
@use "../../../../assets/styles/variables.scss";

.form-container{
    align-items: center;
}
.subtitle{
    margin-top: 15vh;
}
form{
    margin-top: 5vh;
}