<div class="container">
    <h2>Mi cuenta</h2>
    <p class="items">Tipo de suscripción: <span class="usersInfo">{{nivelSuscripcion}}</span></p>
    <div class="planes">
        <button (click)="setPlan(0)" class="btnRenovar">Free</button>
        <button (click)="setPlan(1)" class="btnRenovar">Trial</button>
        <button (click)="setPlan(2)" class="btnRenovar">Pro</button>
    </div>
    <p class="items">Conversiones restantes: <span class="usersInfo">{{user.conversions}}</span> </p>
    <button class="btnSaveOut" (click)="save()"> Guardar y salir</button>
</div>