<div id="container">    
    <div *ngIf="user.state===0" class="home">   
        <h1>Bienvenido, {{user.username}}</h1>
        <app-card-conversor 
        class="puff-in-center"
        *ngIf="enlaceActivo ==='Conversor' && user.conversions > 0"
        [currency]="currency"
        [user]="user">
        </app-card-conversor>
        <h2 *ngIf="user.conversions < 1">Ya no tienes conversiones disponibles, revisa tu plan en "Mi Cuenta"</h2>
        <app-account
        class="puff-in-center"
        *ngIf="enlaceActivo==='Cuenta'" 
        [user]="user">
        </app-account>
    </div>
    <div *ngIf="user.state===1">
        <h1>Tu cuenta ha sido dada de baja, vuelve a registrarte</h1>
        <button class="registerBtn"  [routerLink]="(['/register'])">Registrarme</button>
    </div>
    <div class="background-container" >
        <img class="floatLogo" src="./../../../../assets/img/Monify_svg_white.svg" alt="">  
        <div *ngIf="user.state === 0">
            <select id="opcionesDropdown" class="floatButton"  (change)="selectComponent($event)" name="opcionesDropdown">
                <option class="opcion" >{{user.username}}</option>
                <option class="opcion"  *ngIf="enlaceActivo==='Conversor'" >Mi cuenta</option>
                <option class="opcion"  *ngIf="enlaceActivo==='Cuenta'" >Conversor</option>
                <option class="opcion"  *ngIf="user.role === 'Admin'" value="Dashboard" >Dashboard</option>
                <option class="opcion"   >Cerrar sesión</option>
            </select>
        </div>
    </div>
</div>

