<div id="container">    
    <div class="home">   
        <h1>Bienvenido, {{user.username}}</h1>
        <app-card-conversor 
        *ngIf="enlaceActivo ==='Conversor'"
        [currency]="currency"
        [user]="user">
        </app-card-conversor>
        <app-account *ngIf="enlaceActivo==='Cuenta'" 
        [user]="user">
        </app-account>
    </div>
    <div class="background-container">
        <img class="floatLogo" src="./../../../../assets/img/Monify_svg_white.svg" alt="">  
        <div>
            <select id="opcionesDropdown" class="floatButton"  (change)="selectComponent($event)" name="opcionesDropdown">
                <option class="opcion" >{{user.username}}</option>
                <option class="opcion"  *ngIf="enlaceActivo==='Conversor'" >Mi cuenta</option>
                <option class="opcion"  *ngIf="enlaceActivo==='Cuenta'" >Conversor</option>
                <option class="opcion"   >Cerrar sesión</option>
            </select>
        </div>
    </div>
</div>
