<section class="aside-container">
    <div class="logo">
        <img src="../../../../assets/img/Monify_svg_white.svg" alt="">
        <span class="title-logo">Monify</span>
    </div>
        <div class="admin-aside">
            <a [routerLink]="['/monedas']" routerLinkActive="active"  >Monedas</a>
            <a [routerLink]="['/users']">Usuarios</a>
            <a [routerLink]="['/active']">Suscripciones activas</a>
            <a [routerLink]="['/expired']">Suscripciones vencidas</a>
        </div>
    <button type="submit">Guardar y salir</button>
</section>  